* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  --left-margin: 24px;
  --max-card-width: 625px;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding-top: 80px;
  padding-bottom: 40px;
}

.intro-chunk {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  max-width: var(--max-card-width);
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk > p {
  max-width: 320px;
}

main {
  background-color: hsl(0deg, 0%, 60%);

  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  background-color: #fefffe;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);

  padding-top: 8px;
  padding-left: 24px;
  padding-right: 40px;

  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-card-width);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 32px;
  padding-left: 32px;
  margin-left: -32px;
  margin-right: 8px;

  /* No idea why setting this is needed,
   * but somehow it automatically
   * picks up margin without this */
  margin-top: 0px;
  margin-bottom: 0px;
}
